.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("../images/dota_south_east_asia_cup_championship.jpg");
  background-position: 50% 50%;
  background-size: auto 180%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 941px;
}

.u-section-1-1 .u-image-1 {
  width: 260px;
  height: 209px;
  margin: 136px auto 0;
}

.u-section-1-1 .u-text-1 {
  text-shadow: 4px 5px 17px rgba(0,0,0,1);
  animation-duration: 1000ms;
  width: 818px;
  font-family: Aclonica;
  margin: 11px auto 0;
}

.u-section-1-1 .u-text-2 {
  font-style: italic;
  font-family: Aclonica;
  margin: 58px 59px 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 58px auto 0 254px;
}

.u-section-1-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -46px 243px 43px auto;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 54px;
  }

  .u-section-1-1 .u-btn-2 {
    margin-right: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-text-1 {
    width: 340px;
  }
}.u-section-1-2 {
  min-height: 851px;
  background-image: linear-gradient(#425465, #332929);
}

.u-section-1-2 .u-group-1 {
  width: 508px;
  min-height: 490px;
  margin: 173px calc(((100% - 1140px) / 2) + -81px) 0 auto;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-2 .u-layout-wrap-1 {
  width: 1046px;
  margin: -436px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-1-2 .u-layout-cell-1 {
  min-height: 524px;
  background-image: linear-gradient(#4c7397, #332929);
}

.u-section-1-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1-2 .u-text-1 {
  font-size: 3.4375rem;
  line-height: 1;
  font-family: Aclonica;
  font-weight: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-1-2 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-style: italic;
  margin: 0;
}

.u-section-1-2 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0 30px;
  padding: 8px 32px 10px 31px;
}

.u-section-1-2 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0 30px;
  padding: 8px 32px 10px 30px;
}

.u-section-1-2 .u-image-1 {
  min-height: 524px;
  background-image: url("../images/DotA_sea_championship_2.png");
}

.u-section-1-2 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1-2 {
    min-height: 586px;
  }

  .u-section-1-2 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2) + -81px);
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 471px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 466px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 {
    min-height: 549px;
  }

  .u-section-1-2 .u-group-1 {
    margin-right: calc(((100% - 720px) / 2) + -81px);
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 429px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 {
    min-height: 872px;
  }

  .u-section-1-2 .u-group-1 {
    margin-right: calc(((100% - 540px) / 2) + -81px);
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1-2 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding: 50px 30px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 538px;
    order: 0;
  }

  .u-section-1-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 {
    min-height: 634px;
  }

  .u-section-1-2 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1-2 .u-container-layout-2 {
    padding: 0 0 30px;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 404px;
  }
}.u-section-7-1 {
  background-image: none;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 0;
}

.u-section-7-1 .u-text-1 {
  background-image: none;
  font-style: italic;
  font-family: Bangers;
  width: 570px;
  font-size: 4.5rem;
  margin: 80px auto 0;
}

.u-section-7-1 .u-text-2 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 49px 59px 0;
}

.u-section-7-1 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -125px auto 0 -71px;
}

.u-section-7-1 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -250px -71px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-7-2 {
  background-image: none;
}

.u-section-7-2 .u-sheet-1 {
  min-height: 382px;
}

.u-section-7-2 .u-text-1 {
  background-image: none;
  font-style: italic;
  font-family: Bangers;
  width: 570px;
  font-size: 4.5rem;
  margin: 80px auto 0;
}

.u-section-7-2 .u-text-2 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 0;
}

.u-section-7-2 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -125px auto 0 -71px;
}

.u-section-7-2 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -250px -71px 0 auto;
}

@media (max-width: 767px) {
  .u-section-7-2 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-7-3 {
  background-image: none;
}

.u-section-7-3 .u-sheet-1 {
  min-height: 382px;
}

.u-section-7-3 .u-text-1 {
  background-image: none;
  font-style: italic;
  font-family: Bangers;
  width: 570px;
  font-size: 4.5rem;
  margin: 80px auto 0;
}

.u-section-7-3 .u-text-2 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 0;
}

.u-section-7-3 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -125px auto 0 -71px;
}

.u-section-7-3 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -250px -71px 0 auto;
}

@media (max-width: 767px) {
  .u-section-7-3 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7-3 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-7-4 {
  background-image: none;
}

.u-section-7-4 .u-sheet-1 {
  min-height: 382px;
}

.u-section-7-4 .u-text-1 {
  background-image: none;
  font-style: italic;
  font-family: Bangers;
  width: 570px;
  font-size: 4.5rem;
  margin: 80px auto 0;
}

.u-section-7-4 .u-text-2 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 0;
}

.u-section-7-4 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -125px auto 0 -71px;
}

.u-section-7-4 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -250px -71px 0 auto;
}

@media (max-width: 767px) {
  .u-section-7-4 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7-4 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-7-5 {
  background-image: none;
}

.u-section-7-5 .u-sheet-1 {
  min-height: 382px;
}

.u-section-7-5 .u-text-1 {
  background-image: none;
  font-style: italic;
  font-family: Bangers;
  width: 570px;
  font-size: 4.5rem;
  margin: 80px auto 0;
}

.u-section-7-5 .u-text-2 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 0;
}

.u-section-7-5 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -125px auto 0 -71px;
}

.u-section-7-5 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -250px -71px 0 auto;
}

@media (max-width: 767px) {
  .u-section-7-5 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7-5 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-7-6 {
  background-image: none;
}

.u-section-7-6 .u-sheet-1 {
  min-height: 382px;
}

.u-section-7-6 .u-text-1 {
  background-image: none;
  font-style: italic;
  font-family: Bangers;
  width: 570px;
  font-size: 4.5rem;
  margin: 80px auto 0;
}

.u-section-7-6 .u-text-2 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 0;
}

.u-section-7-6 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -125px auto 0 -71px;
}

.u-section-7-6 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -250px -71px 0 auto;
}

@media (max-width: 767px) {
  .u-section-7-6 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7-6 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-7-7 {
  background-image: none;
}

.u-section-7-7 .u-sheet-1 {
  min-height: 382px;
}

.u-section-7-7 .u-text-1 {
  background-image: none;
  font-style: italic;
  font-family: Bangers;
  font-size: 4.5rem;
  width: 570px;
  margin: 80px auto 0;
}

.u-section-7-7 .u-text-2 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 0;
}

.u-section-7-7 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -181px auto 0 -71px;
}

.u-section-7-7 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -250px -71px 1px auto;
}

@media (max-width: 767px) {
  .u-section-7-7 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7-7 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-7-8 {
  background-image: none;
}

.u-section-7-8 .u-sheet-1 {
  min-height: 382px;
}

.u-section-7-8 .u-text-1 {
  background-image: none;
  font-style: italic;
  font-family: Bangers;
  width: 570px;
  font-size: 4.5rem;
  margin: 80px auto 0;
}

.u-section-7-8 .u-text-2 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 0;
}

.u-section-7-8 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -173px auto 0 -71px;
}

.u-section-7-8 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -250px -71px 0 auto;
}

@media (max-width: 767px) {
  .u-section-7-8 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7-8 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}.u-section-8-1 .u-sheet-1 {
  min-height: 820px;
}

.u-section-8-1 .u-shape-1 {
  width: 258px;
  height: 258px;
  margin: 257px auto 0 54px;
}

.u-section-8-1 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -465px 788px 0 auto;
}

.u-section-8-1 .u-shape-3 {
  width: 250px;
  height: 172px;
  margin: 231px auto 0 133px;
}

.u-section-8-1 .u-shape-4 {
  width: 170px;
  height: 197px;
  margin: -152px auto 0 173px;
}

.u-section-8-1 .u-shape-5 {
  width: 280px;
  height: 127px;
  margin: -127px auto 0 274px;
}

.u-section-8-1 .u-image-1 {
  height: 489px;
  width: 683px;
  margin: -572px 218px 0 auto;
}

.u-section-8-1 .u-group-1 {
  width: 385px;
  min-height: 478px;
  margin: -385px 0 60px auto;
}

.u-section-8-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-8-1 .u-text-1 {
  font-weight: 200;
  font-size: 3rem;
  margin: 49px 0 0;
}

.u-section-8-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8-1 .u-shape-1 {
    width: 103px;
    height: 103px;
    margin-top: 335px;
    margin-left: 12px;
  }

  .u-section-8-1 .u-shape-2 {
    margin-top: -373px;
    margin-right: auto;
    margin-left: 61px;
  }

  .u-section-8-1 .u-shape-3 {
    margin-top: 186px;
  }

  .u-section-8-1 .u-shape-4 {
    margin-top: -95px;
  }

  .u-section-8-1 .u-shape-5 {
    margin-top: -197px;
  }

  .u-section-8-1 .u-image-1 {
    height: 380px;
    width: 508px;
    margin-top: -582px;
    margin-right: auto;
    margin-left: 145px;
  }

  .u-section-8-1 .u-group-1 {
    width: 357px;
    margin-top: -290px;
  }

  .u-section-8-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-8-1 .u-shape-1 {
    margin-top: 369px;
    margin-left: 20px;
  }

  .u-section-8-1 .u-shape-2 {
    margin-top: -407px;
    margin-left: 30px;
  }

  .u-section-8-1 .u-shape-3 {
    margin-top: 393px;
  }

  .u-section-8-1 .u-image-1 {
    margin-top: -768px;
    margin-right: 66px;
    margin-left: auto;
  }

  .u-section-8-1 .u-group-1 {
    width: 429px;
    min-height: 429px;
    margin-top: -55px;
  }
}

@media (max-width: 767px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-8-1 .u-shape-1 {
    width: 82px;
    height: 82px;
    margin-top: 838px;
    margin-left: 29px;
  }

  .u-section-8-1 .u-shape-2 {
    width: 178px;
    height: 178px;
    margin-top: -870px;
    margin-left: 0;
  }

  .u-section-8-1 .u-shape-3 {
    margin-top: 349px;
  }

  .u-section-8-1 .u-shape-5 {
    margin-left: 260px;
  }

  .u-section-8-1 .u-image-1 {
    height: 327px;
    width: 433px;
    margin-top: -705px;
    margin-right: 38px;
  }

  .u-section-8-1 .u-group-1 {
    margin-top: -65px;
  }

  .u-section-8-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-8-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-8-1 .u-shape-1 {
    margin-top: 825px;
    margin-left: 20px;
  }

  .u-section-8-1 .u-shape-2 {
    width: 137px;
    height: 137px;
    margin-top: -857px;
    margin-right: 234px;
    margin-left: -31px;
  }

  .u-section-8-1 .u-shape-3 {
    margin-top: 341px;
    margin-left: 90px;
  }

  .u-section-8-1 .u-shape-4 {
    margin-left: 170px;
  }

  .u-section-8-1 .u-shape-5 {
    margin-left: 60px;
  }

  .u-section-8-1 .u-image-1 {
    height: 215px;
    width: 300px;
    margin-top: -678px;
    margin-right: auto;
  }

  .u-section-8-1 .u-group-1 {
    width: 294px;
    min-height: 474px;
    margin-top: -31px;
  }

  .u-section-8-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-8-2 .u-sheet-1 {
  min-height: 832px;
}

.u-section-8-2 .u-shape-1 {
  width: 258px;
  height: 258px;
  margin: 257px auto 0 54px;
}

.u-section-8-2 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -465px 788px 0 auto;
}

.u-section-8-2 .u-shape-3 {
  width: 250px;
  height: 172px;
  margin: 231px auto 0 133px;
}

.u-section-8-2 .u-shape-4 {
  width: 170px;
  height: 197px;
  margin: -152px auto 0 173px;
}

.u-section-8-2 .u-shape-5 {
  width: 280px;
  height: 127px;
  margin: -127px auto 0 274px;
}

.u-section-8-2 .u-image-1 {
  height: 600px;
  width: 400px;
  margin: -659px auto 0 335px;
}

.u-section-8-2 .u-group-1 {
  width: 385px;
  min-height: 478px;
  margin: -418px 84px 60px auto;
}

.u-section-8-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-8-2 .u-text-1 {
  font-weight: 200;
  font-size: 3rem;
  margin: 0;
}

.u-section-8-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-8-2 .u-shape-1 {
    width: 103px;
    height: 103px;
    margin-top: 335px;
    margin-left: 12px;
  }

  .u-section-8-2 .u-shape-2 {
    margin-top: -373px;
    margin-right: auto;
    margin-left: 61px;
  }

  .u-section-8-2 .u-shape-3 {
    margin-top: 186px;
  }

  .u-section-8-2 .u-shape-4 {
    margin-top: -95px;
  }

  .u-section-8-2 .u-shape-5 {
    margin-top: -197px;
  }

  .u-section-8-2 .u-image-1 {
    height: 380px;
    width: 508px;
    margin-top: -582px;
    margin-left: 145px;
  }

  .u-section-8-2 .u-group-1 {
    width: 357px;
    margin-top: -290px;
  }

  .u-section-8-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-8-2 .u-shape-1 {
    margin-top: 369px;
    margin-left: 20px;
  }

  .u-section-8-2 .u-shape-2 {
    margin-top: -407px;
    margin-left: 30px;
  }

  .u-section-8-2 .u-shape-3 {
    margin-top: 393px;
  }

  .u-section-8-2 .u-image-1 {
    margin-top: -768px;
    margin-right: 66px;
    margin-left: 320px;
  }

  .u-section-8-2 .u-group-1 {
    width: 429px;
    min-height: 429px;
    margin-top: -55px;
  }

  .u-section-8-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8-2 .u-shape-1 {
    width: 82px;
    height: 82px;
    margin-top: 838px;
    margin-left: 29px;
  }

  .u-section-8-2 .u-shape-2 {
    width: 178px;
    height: 178px;
    margin-top: -870px;
    margin-left: 0;
  }

  .u-section-8-2 .u-shape-3 {
    margin-top: 349px;
  }

  .u-section-8-2 .u-shape-5 {
    margin-left: 260px;
  }

  .u-section-8-2 .u-image-1 {
    height: 327px;
    width: 433px;
    margin-top: -705px;
    margin-right: 38px;
    margin-left: 140px;
  }

  .u-section-8-2 .u-group-1 {
    margin-top: -65px;
  }

  .u-section-8-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-8-2 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-8-2 .u-shape-1 {
    margin-top: 825px;
    margin-left: 20px;
  }

  .u-section-8-2 .u-shape-2 {
    width: 137px;
    height: 137px;
    margin-top: -857px;
    margin-right: 234px;
    margin-left: -31px;
  }

  .u-section-8-2 .u-shape-3 {
    margin-top: 341px;
    margin-left: 90px;
  }

  .u-section-8-2 .u-shape-4 {
    margin-left: 170px;
  }

  .u-section-8-2 .u-shape-5 {
    margin-left: 60px;
  }

  .u-section-8-2 .u-image-1 {
    height: 215px;
    width: 300px;
    margin-top: -678px;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-8-2 .u-group-1 {
    width: 294px;
    min-height: 474px;
    margin-top: -31px;
    margin-right: 0;
  }

  .u-section-8-2 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-8-3 .u-sheet-1 {
  min-height: 806px;
}

.u-section-8-3 .u-image-1 {
  height: 489px;
  width: 683px;
  margin: 153px 212px 0 auto;
}

.u-section-8-3 .u-shape-1 {
  width: 258px;
  height: 258px;
  margin: -385px auto 0 54px;
}

.u-section-8-3 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -465px 788px 0 auto;
}

.u-section-8-3 .u-shape-3 {
  width: 250px;
  height: 172px;
  margin: 231px auto 0 133px;
}

.u-section-8-3 .u-shape-4 {
  width: 170px;
  height: 197px;
  margin: -152px auto 0 173px;
}

.u-section-8-3 .u-shape-5 {
  width: 280px;
  height: 127px;
  margin: -127px auto 0 274px;
}

.u-section-8-3 .u-group-1 {
  width: 385px;
  min-height: 478px;
  margin: -468px 0 60px auto;
}

.u-section-8-3 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-8-3 .u-text-1 {
  font-weight: 200;
  font-size: 3rem;
  margin: 0;
}

.u-section-8-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  width: 285px;
  margin: 28px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8-3 .u-image-1 {
    height: 380px;
    width: 508px;
    margin-top: 101px;
    margin-right: auto;
    margin-left: 145px;
  }

  .u-section-8-3 .u-shape-1 {
    width: 103px;
    height: 103px;
    margin-top: -146px;
    margin-left: 12px;
  }

  .u-section-8-3 .u-shape-2 {
    margin-top: -373px;
    margin-right: auto;
    margin-left: 61px;
  }

  .u-section-8-3 .u-shape-3 {
    margin-top: 186px;
  }

  .u-section-8-3 .u-shape-4 {
    margin-top: -95px;
  }

  .u-section-8-3 .u-shape-5 {
    margin-top: -197px;
  }

  .u-section-8-3 .u-group-1 {
    width: 357px;
    margin-top: -492px;
  }

  .u-section-8-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-8-3 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-8-3 .u-image-1 {
    margin-top: 122px;
    margin-right: 66px;
    margin-left: auto;
  }

  .u-section-8-3 .u-shape-1 {
    margin-top: -133px;
    margin-left: 20px;
  }

  .u-section-8-3 .u-shape-2 {
    margin-top: -407px;
    margin-left: 30px;
  }

  .u-section-8-3 .u-shape-3 {
    margin-top: 393px;
  }

  .u-section-8-3 .u-group-1 {
    width: 429px;
    min-height: 429px;
    margin-top: -443px;
  }

  .u-section-8-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8-3 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-8-3 .u-image-1 {
    height: 327px;
    width: 433px;
    margin-top: 76px;
    margin-right: 38px;
  }

  .u-section-8-3 .u-shape-1 {
    width: 82px;
    height: 82px;
    margin-top: 435px;
    margin-left: 29px;
  }

  .u-section-8-3 .u-shape-2 {
    width: 178px;
    height: 178px;
    margin-top: -870px;
    margin-left: 0;
  }

  .u-section-8-3 .u-shape-3 {
    margin-top: 349px;
  }

  .u-section-8-3 .u-shape-5 {
    margin-left: 260px;
  }

  .u-section-8-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-8-3 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-8-3 .u-image-1 {
    height: 215px;
    width: 300px;
    margin-top: 54px;
    margin-right: auto;
  }

  .u-section-8-3 .u-shape-1 {
    margin-top: 556px;
    margin-left: 20px;
  }

  .u-section-8-3 .u-shape-2 {
    width: 137px;
    height: 137px;
    margin-top: -857px;
    margin-right: 234px;
    margin-left: -31px;
  }

  .u-section-8-3 .u-shape-3 {
    margin-top: 341px;
    margin-left: 90px;
  }

  .u-section-8-3 .u-shape-4 {
    margin-left: 170px;
  }

  .u-section-8-3 .u-shape-5 {
    margin-left: 60px;
  }

  .u-section-8-3 .u-group-1 {
    width: 294px;
    min-height: 474px;
    margin-top: -494px;
  }

  .u-section-8-3 .u-text-1 {
    font-size: 3rem;
  }
}.u-block-bf0f-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-bf0f-5 {
  position: absolute;
  left: 0;
  width: 45px;
  height: 45px;
  right: auto;
}

.u-block-bf0f-4 {
  position: absolute;
  right: 0;
  width: 45px;
  height: 45px;
}.u-section-2 {
  background-image: linear-gradient(white, #f1b5b8);
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 50px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 452px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 6px;
}

.u-section-2 .u-image-1 {
  width: 376px;
  height: 376px;
  margin: 0 auto -3px 61px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-2 .u-text-1 {
  margin: 134px 7px 0 4px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 27px 7px 0 4px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 29px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    width: 295px;
    height: 295px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 270px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 1003px;
  background-image: url("../images/hyperx-quadcast-hero.jpg");
  background-position: 36.36% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1083px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 4.5rem;
  margin: 24px 30px 0 29px;
}

.u-section-3 .u-text-2 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: none;
  font-style: italic;
  font-size: 1.25rem;
  margin: 20px 30px 0 29px;
}

.u-section-3 .u-shape-1 {
  width: 406px;
  height: 187px;
  margin: 0 auto 0 10px;
}

.u-section-3 .u-text-3 {
  margin: -121px 160px 0 259px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 3px auto 0 231px;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 0 265px 0 auto;
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 160px;
  height: 160px;
  background-image: url("../images/Whitelogo2.png");
  background-position: 50% 50%;
  margin: -148px auto 0 30px;
}

.u-section-3 .u-shape-2 {
  width: 350px;
  height: 219px;
  margin: 42px 0 0 auto;
}

.u-section-3 .u-text-4 {
  margin: -183px 143px 0 311px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 30px 41px 0 auto;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 16px 54px 0 auto;
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 132px;
  height: 132px;
  background-image: url("../images/Shinilogo2.png");
  background-position: 50% 50%;
  margin: -109px 188px 0 auto;
}

.u-section-3 .u-shape-3 {
  width: 380px;
  height: 203px;
  margin: 72px 160px 0 auto;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: -121px auto 0 208px;
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin: -70px 241px 0 208px;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 49px auto 0 208px;
  padding: 0;
}

.u-section-3 .u-image-4 {
  width: 147px;
  height: 147px;
  background-image: url("../images/LOGO.png");
  background-position: 50% 50%;
  margin: -131px auto 0 51px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1014px;
  }

  .u-section-3 .u-image-1 {
    background-size: auto 120%;
    min-height: 827px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 893px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 110px;
    margin-left: 209px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 131px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 165px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 93px;
    margin-left: 261px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-3 .u-shape-3 {
    margin-right: 90px;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 108px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 108px;
  }

  .u-section-3 .u-btn-6 {
    margin-left: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-3 .u-image-1 {
    min-height: 633px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-3 .u-shape-1 {
    width: 360px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 55px;
    margin-left: 154px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 21px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 55px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 38px;
    margin-left: 206px;
  }

  .u-section-3 .u-shape-3 {
    width: 360px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 239px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-6 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1171px;
  }

  .u-section-3 .u-image-1 {
    background-position: 50% 100%;
    min-height: 950px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-3 .u-image-1 {
    min-height: 598px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 44px;
  }

  .u-section-3 .u-shape-3 {
    width: 340px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 39px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 464px;
}

.u-section-4 .u-table-1 {
  margin: 42px auto 42px 0;
}

.u-block-dd35-46 {
  background-image: none;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-5 {
  background-image: none;
}

.u-section-4 .u-table-cell-6 {
  border-style: solid;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-table-cell-9 {
  background-image: none;
}

.u-section-4 .u-table-cell-13 {
  background-image: none;
}

.u-section-4 .u-table-cell-17 {
  background-image: none;
}

.u-block-dd35-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 514px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 63px 0 0;
}

.u-section-5 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 54px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 288px;
}

.u-section-5 .u-list-item-1 {
  background-image: linear-gradient(to right, #332929, #425465);
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-1 {
  padding: 26px 0 22px;
}

.u-section-5 .u-image-1 {
  width: 235px;
  height: 235px;
  margin: 4px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  margin: -239px 163px 0 329px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 63px;
    margin-left: 274px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1930px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    font-size: 4.0625rem;
  }

  .u-section-5 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-table-1 {
  margin: 47px auto 47px 0;
}

.u-section-6 .u-table-header-1 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-6 .u-table-body-1 {
  font-size: 1rem;
  font-weight: 400;
}

.u-section-6 .u-table-cell-9 {
  background-image: none;
}

.u-section-6 .u-table-cell-10 {
  background-image: none;
}

.u-section-6 .u-table-cell-11 {
  background-image: none;
}

.u-section-6 .u-table-cell-17 {
  background-image: none;
}

.u-section-6 .u-table-cell-18 {
  background-image: none;
}

.u-section-6 .u-table-cell-19 {
  background-image: none;
}

.u-section-6 .u-table-cell-20 {
  background-image: none;
}

.u-section-6 .u-table-cell-25 {
  background-image: none;
}

.u-section-6 .u-table-cell-26 {
  background-image: none;
}

.u-section-6 .u-table-cell-27 {
  background-image: none;
}

.u-section-6 .u-table-cell-28 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-table-1 {
    margin-top: 48px;
    margin-bottom: 46px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-block-dfaf-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-dfaf-3 {
  position: absolute;
  left: 0;
}

.u-block-dfaf-4 {
  position: absolute;
  right: 0;
}.u-block-6d15-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-6d15-3 {
  position: absolute;
  left: 0;
}

.u-block-6d15-4 {
  position: absolute;
  right: 0;
}.u-section-9 {
  background-image: none;
  min-height: 713px;
}

.u-section-9 .u-image-1 {
  width: 233px;
  height: 713px;
  object-position: 40.33% 50%;
  margin: 0 auto 0 0;
}

.u-section-9 .u-group-1 {
  width: 835px;
  min-height: 635px;
  margin: -674px calc(((100% - 1140px) / 2) + 53px) 39px auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-9 .u-text-2 {
  font-style: normal;
  margin: 17px 263px 0;
}

.u-section-9 .u-form-1 {
  height: 303px;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-9 .u-form-group-1 {
  margin-left: auto;
}

.u-section-9 .u-form-group-2 {
  margin-left: auto;
}

.u-section-9 .u-form-group-3 {
  margin-left: auto;
}

.u-section-9 .u-form-group-4 {
  margin-left: auto;
}

.u-section-9 .u-btn-1 {
  font-size: 0.875rem;
  margin-left: auto;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-9 {
    min-height: 715px;
  }

  .u-section-9 .u-image-1 {
    height: 715px;
  }

  .u-section-9 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 741px);
    margin-top: -675px;
    margin-right: 0;
    margin-bottom: -595px;
  }

  .u-section-9 .u-form-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 {
    min-height: 1107px;
  }

  .u-section-9 .u-image-1 {
    height: 427px;
    margin-left: auto;
  }

  .u-section-9 .u-group-1 {
    width: 720px;
    min-height: 660px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 206px;
    margin-right: 206px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-text-2 {
    margin-left: 136px;
    margin-right: 136px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-text-2 {
    margin-left: 36px;
    margin-right: 36px;
  }
}.hover01 {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}